In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Agg_func").getOrCreate()

In [4]:
spark

In [5]:
df_py = spark.read.csv('test2.csv',header=True, inferSchema=True)

In [6]:
df_py.show()

+------+----------+------+
|  name|department|salary|
+------+----------+------+
| krish|      data| 10000|
| krish|       iot|  5000|
|mahesh|  big data|  4000|
| krish|  big data|  4000|
|mahesh|      data|  3000|
| sudha|      data| 20000|
| sudha|       iot| 10000|
| sudha|  big data|  5000|
| sunny|      data| 10000|
| sunny|  big data|  2000|
+------+----------+------+

In [7]:
df_py.printSchema()

root
 |-- name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: integer (nullable = true)

## Group By
#### first need to apply this and then aggregate funtion

In [12]:
## grouped to find the maximum salary
df_py.groupBy('name').sum().show()

+------+-----------+
|  name|sum(salary)|
+------+-----------+
| sudha|      35000|
| sunny|      12000|
| krish|      19000|
|mahesh|       7000|
+------+-----------+

## Department gives max salary

df_py.groupBy('department').sum().show()

In [17]:
## find mean

df_py.groupBy('department').mean().show()

+----------+-----------+
|department|avg(salary)|
+----------+-----------+
|  big data|     3750.0|
|       iot|     7500.0|
|      data|    10750.0|
+----------+-----------+

In [21]:
## Number of employees working based on department

df_py.groupBy('department').count().show()

+----------+-----+
|department|count|
+----------+-----+
|  big data|    4|
|       iot|    2|
|      data|    4|
+----------+-----+

#### Direct apply agg func. 
##### find the total salary expenditure

In [22]:
df_py.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

In [23]:
## maximum salary

df_py.groupBy('name').max().show()

+------+-----------+
|  name|max(salary)|
+------+-----------+
| sudha|      20000|
| sunny|      10000|
| krish|      10000|
|mahesh|       4000|
+------+-----------+

In [25]:
## minimum salary
df_py.groupBy('name').min().show()

+------+-----------+
|  name|min(salary)|
+------+-----------+
| sudha|       5000|
| sunny|       2000|
| krish|       4000|
|mahesh|       3000|
+------+-----------+

In [26]:
df_py.groupBy('name').avg().show()

+------+------------------+
|  name|       avg(salary)|
+------+------------------+
| sudha|11666.666666666666|
| sunny|            6000.0|
| krish| 6333.333333333333|
|mahesh|            3500.0|
+------+------------------+