## Filter operations
####  &, |, ==
#### ~

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [4]:
spark

In [5]:
df_py = spark.read.csv('test1.csv', header=True, inferSchema=True)

In [6]:
df_py.show()

+------+----+----------+------+
|  name| age|experience|salary|
+------+----+----------+------+
| krish|  31|        10| 30000|
| sudha|  30|         8| 25000|
| sunny|  29|         4| 20000|
|  paul|  24|         3| 20000|
|harsha|  21|         1| 15000|
|shubhi|  23|         2| 18000|
|mahesh|null|      null| 40000|
|  null|  34|        10| 38000|
|  null|  36|      null|  null|
+------+----+----------+------+

### filer operations

## find salary less than or equal to 20000

In [8]:
df_py.filter('salary <= 20000').show()

+------+---+----------+------+
|  name|age|experience|salary|
+------+---+----------+------+
| sunny| 29|         4| 20000|
|  paul| 24|         3| 20000|
|harsha| 21|         1| 15000|
|shubhi| 23|         2| 18000|
+------+---+----------+------+

### select two columns

In [10]:
df_py.filter('salary <= 20000').select(['name','age']).show()

+------+---+
|  name|age|
+------+---+
| sunny| 29|
|  paul| 24|
|harsha| 21|
|shubhi| 23|
+------+---+

In [12]:
df_py.filter(df_py['salary'] <= 20000).show()

+------+---+----------+------+
|  name|age|experience|salary|
+------+---+----------+------+
| sunny| 29|         4| 20000|
|  paul| 24|         3| 20000|
|harsha| 21|         1| 15000|
|shubhi| 23|         2| 18000|
+------+---+----------+------+

In [19]:
df_py.filter((df_py['salary']< 20000) & (df_py['salary'] > 15000)).show()

+------+---+----------+------+
|  name|age|experience|salary|
+------+---+----------+------+
|shubhi| 23|         2| 18000|
+------+---+----------+------+

In [20]:
df_py.filter((df_py['salary']< 20000) | (df_py['salary'] > 15000)).show()

+------+----+----------+------+
|  name| age|experience|salary|
+------+----+----------+------+
| krish|  31|        10| 30000|
| sudha|  30|         8| 25000|
| sunny|  29|         4| 20000|
|  paul|  24|         3| 20000|
|harsha|  21|         1| 15000|
|shubhi|  23|         2| 18000|
|mahesh|null|      null| 40000|
|  null|  34|        10| 38000|
+------+----+----------+------+

# ~ - inverse operation (NOT)

In [21]:
df_py.filter(~(df_py['salary'] <= 20000)).show()

+------+----+----------+------+
|  name| age|experience|salary|
+------+----+----------+------+
| krish|  31|        10| 30000|
| sudha|  30|         8| 25000|
|mahesh|null|      null| 40000|
|  null|  34|        10| 38000|
+------+----+----------+------+