# Data Frame 
## A structure in which different operations are performed

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("Dataframe").getOrCreate()

# Reading dataset

In [14]:
 df_pyspark = spark.read.option('header','true').csv('test1.csv', inferSchema=True)

### Check SCHEMA

In [15]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [1]:
df_pyspark = spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

NameError: name 'spark' is not defined

## Check Data Types of Columns.

In [17]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [18]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [23]:
# get colmn namae
df_pyspark.head(3)

[Row(name='rohan', age=22, experience=10),
 Row(name='kk', age=23, experience=5),
 Row(name='rk', age=30, experience=2)]

In [24]:
## selecting a column

In [26]:
df_pyspark.select('name')

+-----+
| name|
+-----+
|rohan|
|   kk|
|   rk|
+-----+

In [27]:
# Select multiple columns

In [28]:
df_pyspark.select(['name','experience']).show()

+-----+----------+
| name|experience|
+-----+----------+
|rohan|        10|
|   kk|         5|
|   rk|         2|
+-----+----------+

In [29]:
# check data types of columns

In [30]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [32]:
# Describe function - gives summary of df
df_pyspark.describe().show()

+-------+-----+-----------------+-----------------+
|summary| name|              age|       experience|
+-------+-----+-----------------+-----------------+
|  count|    3|                3|                3|
|   mean| null|             25.0|5.666666666666667|
| stddev| null|4.358898943540674|4.041451884327381|
|    min|   kk|               22|                2|
|    max|rohan|               30|               10|
+-------+-----+-----------------+-----------------+

In [34]:
# Adding columns in dataframe (withColumn)

In [38]:
df_newcolumn = df_pyspark.withColumn('experience after 3 years',df_pyspark['experience']+3)

In [39]:
df_newcolumn.show()

+-----+---+----------+------------------------+
| name|age|experience|experience after 3 years|
+-----+---+----------+------------------------+
|rohan| 22|        10|                      13|
|   kk| 23|         5|                       8|
|   rk| 30|         2|                       5|
+-----+---+----------+------------------------+

In [40]:
## Drop Column (drop)

In [47]:
df_dropcol = df_pyspark.drop('experience after 3 year')

In [48]:
df_dropcol.show()

+-----+---+----------+
| name|age|experience|
+-----+---+----------+
|rohan| 22|        10|
|   kk| 23|         5|
|   rk| 30|         2|
+-----+---+----------+

In [42]:
## Renaming a column

In [45]:
df_renamecol = df_pyspark.withColumnRenamed('name','Name')

In [46]:
df_renamecol.show()

+-----+---+----------+
| Name|age|experience|
+-----+---+----------+
|rohan| 22|        10|
|   kk| 23|         5|
|   rk| 30|         2|
+-----+---+----------+